{% extends "base_generic.html" %}

<div>
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="entry-content">
  <div class="login">
    <form name="autorize" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <h1>Введіть ім'я користувача та пароль</h1>
    {% endif %}
{% endif %}
      <table>

      <tr><td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td></tr>
      <tr><td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td></tr>

      <tr><td><div class="remember_me">
        <label><input type="checkbox" name="remember_me">Запам'ятати мене</label></div></td>
      <td rowspan="2"><div class="submit"><input type="submit" name="commit" value="Увійти"></div></td></tr>
        <input type="hidden" name="next" value="{{ next }}" />
        {# Assumes you setup the password_reset view in your URLconf #}
<tr><td><div class="forgot-password"><a href="{% url 'password_reset' %}" >Забули пароль?</a></div></td></tr>
    </table>
    </form>
  </div>

  <div class="clearfix"></div>
</div>
{% endblock %}